.navbar { font-family: sans-serif;
        display: flex;
        align-items: center;
        padding: 5px;
        border-bottom: 1px solid black;
        background-color: lightgray;}

.type{list-style-type: none;
    gap: 10px;
    display: flex;
    align-items: center;}

.edit {list-style-type: none;
    display: flex;
    margin-left:auto;
    gap: 10px;
    text-decoration: none;
    align-items: center;}

.lanjut {display: flex;
         gap: 20px; 
         margin-top: 10px; 
         padding:10px}

.inidia {display: flex;
         align-items: center; 
         gap: 10px}

.isi {border-top: 1px solid black; 
    border-bottom: 1px solid black; 
    padding-left: 10px}

.nama {color:rgb(47,25, 146)}

.yangini {width: 300px; 
    height: 240px; 
    background-color: rgb(196, 194, 194); 
    padding: 10px; 
    display: grid; 
    align-items: center}

.tabel1 {width: 100%; 
    padding: 10px 0; 
    border-collapse: collapse}

.trsatu {padding: 10px 0}

.tdsatu {border-top: 2 px solid whitesmoke;
     padding-left: 10px; padding-top:10 px}

.bawah {margin-top: 80px; 
    border-top: 1px solid black; 
    padding: 5px; 
    display: grid;
     gap: 5px}

.baris {display: flex;
     gap: 5px}

.input-subscribe {display: flex; 
    align-items: center; 
    margin-left: auto;
     font-weight: bolder; 
     height: 20px; 
     padding-top: 1px}